/* pre loader */
#loader{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader img{

    width: 15%;
    height: auto;
}

#site{
    display: none;
}
/* end of loader */


body{
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen-Sans', 'Ubuntu', 'Cantarell', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.nav-link{
  color: white;
  font-weight: 800;
  font-size: 15px;
  position: relative;
 
}
.nav-link:hover, .nav-link.active{
  color: orangered;
}
.nav-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: orangered;
  visibility: hidden;
  transition: 0.2s ease-in-out;

}
.nav-link:hover::before{
  width: 100%;
  visibility: visible;

}

.nav-bar-toggler{
  border: none;
  font-size: 1.25rem;
}

.nav-bar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(44, 46, 46);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(235, 227, 227, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-item{
  color:  orangered;
}

.find{
  background-color: rgb(231, 82, 23);
  border: none;
  color: white;
  padding: 5px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
  box-shadow: 0 2px 10px rgb(0, 0, 0) gray;
  z-index: 1;
  border-radius: 2px;
}

.find::before{
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color:  darkblue;
  z-index: -1;
}
.find:hover, .find:focus {
  color: gold;
}
.find:hover::before, .find:focus::before{
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;

}
.find:active{
  transform: scale(0.9);
}

  .type2 img{
    height: 500px;
  }

  .type3{
    border-top: 10px solid rgb(243, 81, 23);
  }
  .type4{
    border-top: 10px solid darkblue
  }

  .tilt{
    filter: sepia(70%);
  }

  .tilt1 {
    display: inline-block;
    border-radius: 9px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
  }
  
  .tilt1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .tilt1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .tilt1:hover span {
    padding-right: 25px;
  }
  
  .tilt1:hover span:after {
    opacity: 1;
    right: 0;
  }

  .type5{
    font-size: 40px;
    padding-bottom: 20px;
    color: white;
  }
  .type6{
    float: right;
    font-size: 20px;
    color: rgb(226, 117, 27);
    padding: 20px;
  }
  .tilt2{
    font-size: 50px;
    color: white;
  }
  .type8{
    border-bottom: 4px solid darkblue;
   
   
  }
  .type7{
    position: relative;
    width: 90%;
    background-color:  rgb(233, 151, 121);
  }
  .type9 {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
   overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    background-color:darkblue;
  }
  
  .type7:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  }

  .type10{
    color:  rgb(235, 98, 49);
  }
.type11{
 text-decoration: none;
 border-bottom: 2px solid rgb(26, 25, 25);
 color: black;
}
.type11:hover{
  color: orange;
}

.type12{
  text-decoration: none;
  color: darkblue;
}

.type12:hover{
  color: orange;
}

.type13{
  text-decoration: none;
  color: darkblue;
}

.type13:hover{
 color:  rgb(130, 208, 231);
}

.type14{
  text-decoration: none;
  color:darkblue;
}

.type14:hover{
 color: rgb(148, 118, 218);
}
.type15{
  text-decoration: none;
  color:darkblue;
}

.type15:hover{
 color:red;
}
.type16{
  background-color: plum;
  background-blend-mode: color-burn;
}
 ul,li,a{
  text-decoration: none;
  color: white;
 }

 ul,li{
  list-style: none;
 }

 a:hover{
  color: orangered;
 }

 .type19{
  color: rgb(91, 175, 224);
  
 }
 .type20{
  opacity: 0.9;
 }
 .goff{
   font-size: 80px;
 }
 .god2{
  text-decoration: none;
  color: black;
}
.you1{
  position: relative;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 58px;
  color: #000;
}
.you2 { 
  width: 100%;
  height: 250px;
  opacity: 0.5;
}
.you3{
  color: #000;
}
.fine10{
  margin: 150px auto;
text-align: center;

}
.fine11{
  float: left;
  margin-right: 15px;
  width: 70px;

}

.fine13{
  color: rgb(243, 81, 23);
}

.fine13:hover{
  color: #041b80;
}

.you7 { 
  width: 100%;
  height: 250px;
  opacity: 1;
}

.you9{
  color: black;
}

.truth{
  text-decoration: none;
  color: #000;
}
 .truth2{
  color: rgb(83, 83, 3);
  text-decoration: underline;
 }

